header#header {
  &.header-floating-bg-dark-text-white {
    .header-nav {
      .header-nav-wrapper {
        @media (min-width: $ele-breakpoint-desktop-min) {
          &.navbar-scrolltofixed:not(.tm-sticky-menu) {
            .menuzord-menu > li:not(.active):not(:hover) > a {
              color: #fff;
            }
            .top-nav-search-btn .search-icon,
            .top-nav-mini-cart-icon-container .top-nav-mini-cart-icon-contents .mini-cart-icon {
              color: #fff;

            }
            .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner:after, .hamburger-box .hamburger-inner:before {
              background-color: #fff;
            }
            .menuzord .showhide em{
              background: #fff;
            }
          }
        }
        @include media-breakpoint-down(lg) {
          &.navbar-scrolltofixed:not(.tm-sticky-menu) .header-nav-container {
            background-color: #111;
            .menuzord .showhide em{
              background: #fff;
            }
          }
        }
      }
    }
  }
}